.overLayLink {
  position: absolute;
  text-decoration: none;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  background-color: rgb(233, 229, 229);
  padding: 5px;
  font-size: 15px;
  font-weight: 900;
  border: 2px solid #6bbbe9;
}
.overLayLink:hover {
  font-size: 16px;
  border-color: yellow;
}
